body{
   background-color:  #ecf0f1;
}
*{
    margin: 0;
    padding: 0;
}
#sheet-container{
    /* display: flex; */
    width: 98vw;
    height: 75vh;
    background-color: #ecf0f1;
    overflow-x: hidden;
    overflow-x: scroll;

}


#function-container{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 10px;
}

#function-container>div>label{
    font-family: cursive;
}

#function-container>div>input{
    width: 500px;
    height: 20px;
    border: none;
}

#footer{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 30px;
    align-items: center;
    padding-left: 5px;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    background-color: aquamarine;
    /* background-color: aliceblue; */
}


#sheet-container::-webkit-scrollbar{
    display: none;
}

#copy,#paste{
    cursor: pointer;
}

#sheet-add{
    font-size: 25px;
    font-weight: bold;
   
}

#footer >P {
    cursor: pointer;
}

.cell{
    min-width: 80px;
    height: 40px;
    border: 1px solid rgba(223, 228, 234, 1);
    overflow-y: hidden;
    overflow-y: scroll;
}

.cell::-webkit-scrollbar{
    display: none;
}

.menu-icons{
    cursor: pointer;
}

.first-row-cell{
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    min-width: 80px;
    height: 40px;
    border: 1px solid rgba(223, 228, 234, 1);
}

.first-col{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 40px;
    border: 1px solid rgba(223, 228, 234, 1);
    position: sticky;
    left: 0;
    background-color: #ecf0f1;
}

.sheet-row{
display: flex;
}

.first-row{
    background-color: #ecf0f1;
    position: sticky;
    top: 0;
    /* position: relative; */
}

#zero{
    position: sticky;
    top: 0;
    left: 0;
}

#font-size-input{
    width: 50px;
}
#menu-container{
    background-color: #ecf0f1;
    padding: 10px;
    display: flex;
    justify-content: left;
    gap: 20px;
}

#display-cell{
    background-color: white;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav{
    background-color: #218c74;
    color: white;
    display: flex;
    /* align-items: end; */
    box-sizing: border-box;
    padding-top: 20px;
    /* padding-bottom: 10px; */
    padding-left: 10px;
    list-style-type: none;
    gap: 20px;
    height: 50px;
}

li{
    padding: 5px;
}

li:nth-child(2){
    color: #218c74;
    background-color: #ecf0f1;
    /* padding-bottom: 10px; */
    /* position: absolute; */
    /* bottom: 0; */
}

img{
    width: 20px;
}

.selected{
    background-color: gray;
    /* color: white; */
}